<section>
    <div>

        <a routerLink="" class="logo">Mr.BitCoin</a>
    </div>
    <nav>
        <a routerLink="signup" title="signup"><i class="fa-solid fa-right-to-bracket"></i></a>
        <a routerLink="" title="home"><i class="fa-solid fa-house"></i></a>
        <a routerLink="contact" title="users"><i class="fa-solid fa-user"></i></a>
        <a routerLink="/contact/edit" title="add a new user"><i class="fa-solid fa-user-plus"></i> </a>
        <a routerLink="chart" title="chart"><i class="fa-solid fa-chart-line"></i></a>
    </nav>
</section>