<section  class="contact-edit">
    <h2>{{'Add'}} contact</h2>
    <form (ngSubmit)="onSaveContact()">
        <label for="name">Name</label>
        <input [(ngModel)]="contact.name" type="text" name="name" id="name">

        <label for="email">email</label>
        <input [(ngModel)]="contact.email" type="text" name="email" id="email">

        <label for="phone">phone</label>
        <input [(ngModel)]="contact.phone" type="number" name="phone" id="phone">
        <button>Save</button>
    </form>
</section>