<section  class="contact-edit">
    <a routerLink="/contact"><i class="fa-solid fa-xmark"></i></a>
    <h2>{{'Add'}} contact</h2>

    <form (ngSubmit)="onSaveContact()">
        <input placeholder="name" [(ngModel)]="contact.name" type="text" name="name" id="name">
        <input placeholder="email" [(ngModel)]="contact.email" type="text" name="email" id="email">
        <input placeholder="phone" [(ngModel)]="contact.phone" type="number" name="phone" id="phone">
      
        <button><i class="fa-solid fa-plus"></i></button>
    </form>
</section>