
.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    header {
        height: 80px;
        // display: flex;
        // align-items: center;
        background-color: #1caddeb8;
        color: whitesmoke;
        margin-bottom: 30px;
        font-size: 1.2em;
        font-family: fantasy;
    }

    main {
        flex-grow: 1;
    }

    footer {
        height: 80px;
        display: flex;
        align-items: center;
        color: whitesmoke;
        background-color: #03142cd4;
        font-size: 1.2em;
    }
}